// *** MASTER SASS FILE ***

// --- PARTIALS ---
@import "helpers/reset";
@import "helpers/typography";

@import "components/vars";
@import "components/placeholders";
@import "components/mixins";
@import "components/header-nav";
@import "components/hero";

// --- MASTER CONTROLS ---

body{
  width: 100vw;
  background-color: #E9EAEE;
  display: flex;
  justify-content: center;

  font-family: "Akkurat","AkkuratNestWeb-Regular",Helvetica,Arial,"Lucida Grande",sans-serif;
}

#page-container{
  width: 90vw;
  margin: 0 70px;
  padding: 0 10px;
  background-color: $nest-white;

}

a{
  text-decoration: none;
  color: inherit;
  &:hover{
    text-decoration: none;
  }
}
