// *** PLACEHOLDERS PARTIAL ***

%fake-link{
  cursor: pointer;
  user-select: none;
}

%button{
  width: fit-content;
  color: $nest-white;
  padding: 12px 24px;
  background-color: $hover-color;
  border-radius: 4px;
  font-weight: 500;

  &:hover{
    background-color: #059AB6;
  }
}
